@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss" important;

@theme inline {
  --color-primary: #2bd17e;
  --color-background: #093545;
  --color-foreground: #fff;
  --color-input: #224957;
  --color-card: #092c39;
  --color-error: #eb5757;
  --font-sans: "Montserrat", sans-serif;
  --breakpoint-xs: 36rem;
}

body {
  font-family: var(--font-sans);
  color: white !important;
}
